.bo {
  border:1px solid black;
}

.bo__content {
  margin: 10px;
}

.bo__table--fit {
    // width: 1px;
}

.tra {
  background-color: blue;
}

.tra2 {
  background-color: chocolate;
}